.clients {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }

  margin: -15px;
}

.clients__item {
  width: calc(100% / 2 - 30px);
  margin: 15px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc(100% / 3 - 30px);
  }
}

.client__link {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  border: 1px solid;
  border-color: $secondary-color-shadow-var2;
  border-radius: 4px;

  fill: $secondary-color-shadow-var2;

  transition: fill $transition-prop, border-color $transition-prop;

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
