.description-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0 -15px 0 -15px;
  }
}

.description-list__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    max-width: calc((100% - 120px) / 4);
    margin: 0 15px 0 15px;
  }
}

.description-list__image {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: $secondary-color-shadow;
}

.description-list__title {
  margin-bottom: 10px;

  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;

  color: $main-color-shadow-var2;
}

.description-list__text {
  font-size: 14px;
  line-height: 1.71;
}
