.description-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.description-list__item {
  &:not(:last-child) {
    margin-bottom: 56px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc(100% / 2 - 15px);

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    &:not(:nth-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: calc(100% / 4 - 23px);
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.description-list__image {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: $secondary-color-shadow;
}

.description-list__title {
  margin-bottom: 10px;

  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;

  color: $main-color-shadow-var2;
}

.description-list__text {
  font-size: 14px;
  line-height: 1.71;
}
