.mobile-nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }

  color: $main-color-shadow-var2;
  transition: color $transition-prop;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mobile-nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  color: currentColor;
}
