.body {
  background-color: $secondary-color;
  color: $main-color-shadow-light;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  // width: 1200px;

  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.title {
  margin-bottom: 30px;
  // margin-bottom: 50px;

  color: $main-color-shadow-var2;
  font-weight: 700;
  font-size: 28px;
  // font-size: 36px;

  line-height: 1.17;
  text-align: center;
}

.hidden__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description {
  padding: 94px 0 47px;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
